.width-1-1 {
  flex-basis: 100%;
}

.width-1-2 {
  flex-basis: 50%;
}

.width-2-5 {
  flex-basis: 40%;
}

.width-3-5 {
  flex-basis: 60%;
}

.width-4-5 {
  flex-basis: 80%;
}

@media (min-width: 1250px) {
  .width-1-3-lg {
    flex-basis: 33.33%;
  }

  .width-1-2-lg {
    flex-basis: 50%;
  }
}